<% if usert_signed_in? %>
  <h2>Bienvenid@ <%= current_usert.name%></h2>
  <% WelcomeMailer.notify(current_usert.email).deliver_now %>
  <% else %>
  <h2>Do you want to be part of our community</h2>
<% end %>
